<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->

                <!-- JAVASCRIPT
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->

        <title>{% block title %}GPCR Atlas{% endblock %}</title>
    </head>
    <body>
        <nav class="top-bar" role="navigation">
            <section class="top-bar-left">
                <ul class="menu-text"><a href="{% url 'home' %}">GPCR Atlas</a></ul>
                <ul><a href="{% url 'gpcrdb:gpcrdb' %}">GPCRs</a></ul>
                <ul><a href="{% url 'contact' %}">Contact</a></ul>
                <ul><a href="{% url 'usage' %}">How to use GPCR Atlas</a></ul>
            </section>
        </nav>
        {% block content %}{% endblock %}
        {% block extra_js %}{% endblock extra_js %}
        <footer>
            <hr/>
            <div>
                <p>GPCR Atlas should only be used for noncommercial purposes</p>
                <p><a href="https://structure.bu.edu/">Structural Bioinformatics Lab</a></p>
                <p><a href="http://www.bu.edu/">Boston University</a></p>
            </div>
        </footer>
    </body>
</html>