{% extends 'base.html' %}

{% block content %}
<h1>{{ gene }}</h1>

<div class="col">
  <h1 class="display-4">{{pdbs.pdb_id}}</h1>
  <dl class="row">
    <dt class="col-sm-4">PDB</dt>
    <dt class="col-sm-4">GPCR Class</dt>
    <dt class="col-sm-4">Resolution</dt>
    <dt class="col-sm-4">Method</dt>
    <dt class="col-sm-4">PubMed ID</dt>
    <dt class="col-sm-4">UniProt ID</dt>
    <dt class="col-sm-4">Deposition Date</dt>
  </dl>
  {% for pdb in pdbs %}
      <dl class="row">
        <dd class="col-sm-8"><a href="http://www.rcsb.org/structure/{{gpcr.pdb_id}}" target="_blank">{{pdb.pdb_id}}</a></dd>
        <dd class="col-sm-8">{{pdb.gpcr_class}}</dd>
        <dd class="col-sm-8">{{pdb.resolution}}</dd>
        <dd class="col-sm-8">{{pdb.method}}</dd>
        <dd class="col-sm-8"><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{gpcr.pubmed_id}}" target="_blank">{{pdb.pubmed_id}}</a></dd>
        <dd class="col-sm-8"><a href="https://www.uniprot.org/uniprot/{{gpcr.uniprot_id}}" target="_blank">{{pdb.uniprot_id}}</a></dd>
        <dd class="col-sm-8">{{pdb.deposition_date}}</dd>
      </dl>
  {% endfor %}
</div>

{% endblock %}


{% block extra_js %}

{% endblock extra_js %}