{% extends 'base.html' %}


{% block title %}GPCRs{% endblock %}

{% block content %}
    <div class="row columns">
        {{ block.super }}
    </div>

    <div>
        <table>
            <tr>
                <th>PDB ID</th>
                <th>GPCR Class</th>
                <th>Resolution</th>
            </tr>
            {%  for gpcr in gpcrs %}
            <tr>
                <td><a href="{% url 'gpcrdb:gpcr_detail' pk=gpcr.pk%}">{{ gpcr.pdb_id }}</a></td>
                <td>{{ gpcr.gpcr_class }}</td>
                <td>{{ gpcr.resolution }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}


