{% extends 'base.html' %}
{% load static %}

{% block title %}Atlas{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row my-5">
    <div class="col-md-4">
      <img src="https://via.placeholder.com/700?text=jsPhyloSVG" class="img-responsive img-thumbnail">
    </div>
    <div class="col-md-8">
      <table class="table" id="table">
        <thead>
          <tr>
            <th>PDB ID</th>
            <th>GPCR Name</th>
            <th>Class</th>
            <th>Subfamily</th>
            <!-- <th>Uniprot ID</th> -->
            <!-- <th>Species </th> -->
            <!-- <th>Method</th> -->
            <!-- <th>Resolution</th> -->
            <!-- <th>Pubmed ID</th> -->
            <!-- <th>Deposition Date </th> -->
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#table").DataTable({
      "ajax": {
        "url": "0.0.0.0:8080/gpcrs/json/",
        "dataSrc": ""
      },
      "deferRender": true,
      "columns": [
        { "data": "fields.pdb_id" },
        { "data": "fields.gpcr_name" },
        { "data": "fields.gpcr_class" },
        { "data": "fields.subfamily" }
      ],
      dom: "Bfrtip",
      buttons: [
        "copy", "csv", "excel"
      ],
      responsive:  true,
      scrollY:     "50vh",
      deferRender: true,
      scroller:    true
    });

    $(".dt-buttons").addClass("float-left");
    $(".dataTables_filter").addClass("float-right");
    $("input").removeClass("form-control-sm");
  });
</script>
{% endblock extra_js %}
