{% extends 'base.html' %}

{% load static from staticfiles %}

{% block title %}{{gpcr.pdb_id}}{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col">
      <h1 class="display-4">{{gpcr.pdb_id}}</h1>
      <dl class="row">
        <dt class="col-sm-3">PDB</dt>
        <dd class="col-sm-9"><a href="http://www.rcsb.org/structure/{{gpcr.pdb_id}}" target="_blank">{{gpcr.pdb_id}}</a></dd>
        <dt class="col-sm-3">GPCR Class</dt>
        <dd class="col-sm-9">{{gpcr.gpcr_class}}</dd>
        <dt class="col-sm-3">Gene Name</dt>
        <dd class="col-sm-9">{{gpcr.gene_name}}</dd>
        <dt class="col-sm-3">Resolution</dt>
        <dd class="col-sm-9">{{gpcr.resolution}}</dd>
        <dt class="col-sm-3">PubMed ID</dt>
        <dd class="col-sm-9"><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term={{gpcr.pubmed_id}}" target="_blank">{{gpcr.pubmed_id}}</a></dd>
        <dt class="col-sm-3">UniProt ID</dt>
        <dd class="col-sm-9"><a href="https://www.uniprot.org/uniprot/{{gpcr.uniprot_id}}" target="_blank">{{gpcr.uniprot_id}}</a></dd>
        <dt class="col-sm-3">Deposition Date</dt>
        <dd class="col-sm-9">{{gpcr.deposition_date}}</dd>
        <dt class="col-sm-3">Modification Date</dt>
        <dd class="col-sm-9">{{gpcr.modification_date}}</dd>
      </dl>
    </div>
    <div class="col">
      <div id="viewport" style="width:400px; height:300px;"></div>
      <p>Powered by <a href="https://github.com/arose/ngl" target="_blank">NGL</a></p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <img src="https://via.placeholder.com/1440x200?text=MSAViewer" class="img-responsive img-thumbnail">
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/vendor/ngl.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var stage = new NGL.Stage("viewport");
    stage.loadFile("{{MEDIA_URL}}{{gpcr.mapping_pdb_file}}", {defaultRepresentation: true});
  });
</script>
<script src="{% static 'js/ngl_customizer.js' %}"></script>
{% endblock extra_js %}
