{% extends 'base.html' %}

{% block content %}

    <h1>GPCR Atlas</h1>

    <h2>Abstract</h2>
    <p> some text</p>

    <h2>Student Developers:</h2>
    <ul>
        <li>Brian S</li>
        <li>Lucas S</li>
        <li>Amanda W</li>
    </ul>



    <h2>Faculty Advisor:</h2>
    Sandor Vajda</br>
    BME Dept.</br>
    vajda@bu.edu</br>

    <p>This project was developed at
    Boston University as part of BF768, Spring 2019, G. Benson instructor.</p>

    This page should also include a brief abstract of the purpose of the database.

{% endblock %}