{% extends 'base.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">GPCR Atlas</h1>
    <p class="lead text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat ex orci, vulputate viverra dui condimentum et. Phasellus euismod eu nunc congue porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla tempus porttitor ligula at ornare. Vivamus vestibulum libero et libero tincidunt iaculis. Integer eleifend mauris sed nisl pulvinar feugiat quis non felis. Cras eu consequat ex. Nunc non bibendum ipsum.</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row my-5">
    <div class="col">
      <div class="card-deck">
        <div class="card">
          <div class="card-body text-center">
            <img src="https://via.placeholder.com/200?text=Image" class="img-thumbnail img-responsive rounded-circle my-2">
            <h5 class="card-title my-2">Your Name</h5>
            <p class="card-text my-2">Course Instructor</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <img src="https://via.placeholder.com/200?text=Image" class="img-thumbnail img-responsive rounded-circle my-2">
            <h5 class="card-title my-2">Your Name</h5>
            <p class="card-text">Student Developer</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <img src="https://via.placeholder.com/200?text=Image" class="img-thumbnail img-responsive rounded-circle my-2">
            <h5 class="card-title my-2">Your Name</h5>
            <p class="card-text my-2">Student Developer</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <img src="https://via.placeholder.com/200?text=Image" class="img-thumbnail img-responsive rounded-circle my-2">
            <h5 class="card-title my-2">Your Name</h5>
            <p class="card-text my-2">Student Developer</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <img src="https://via.placeholder.com/200?text=Image" class="img-thumbnail img-responsive rounded-circle my-2">
            <h5 class="card-title my-2">Your Name</h5>
            <p class="card-text my-2">Faculty Advisor</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
