{% extends 'base.html' %}
{% load static %}

{% block title %}GPCRs{% endblock %}

{% block content %}

    <h2>GPCRs</h2>
    <table>
        <tr>
            <th>PDB ID</th>
            <th>GPCR Class</th>
            <th>Resolution</th>
        </tr>

        {% for gpcr in gpcr_list %}
            <tr>
                <td><a href="{% url 'gpcrdb:gpcr_detail' pk=gpcr.pk%}">{{ gpcr.pdb_id }}</a></td>
                <td>{{ gpcr.gpcr_class }}</td>
                <td>{{ gpcr.resolution }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}

