{% extends 'base.html' %}

{% block content %}
    <body>
        <div id="treeCanvas"> </div>
    </body>
{% endblock %}


{% block extra_js %}
    <script type="text/javascript">
      $(document).ready(function () {
        var treeCanvas = $("#treeCanvas");

        var width = treeCanvas.width();

        if (width >= 600) {
          $.get("/media/data/nex2xml.xml", function (data) {
            var dataObject = {
              nexml: data,
              fileSource: true
            };
            treeCanvas = $("#treeCanvas");

            phylocanvas = new Smits.PhyloCanvas(
              dataObject,
              'treeCanvas',
              treeCanvas.width(), treeCanvas.width(),  // Make a square
              'circular'
            );
          });
        }
      });
    </script>

{% endblock extra_js %}
