{% extends 'base.html' %}

{% block content %}
    <body>
        <div id="svgCanvas"> </div>
    </body>
{% endblock %}


{% block extra_js %}
    <script type="text/javascript">
    window.onload = function(){
          function loadFile(filePath) {
            var result = null;
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", filePath, false);
            xmlhttp.send();
            if (xmlhttp.status==200) {
              result = xmlhttp.responseText;
            }
            return result;
          }
            var dataObject = { newick: loadFile("{{MEDIA_URL}}/fastas/protein_FASTAs2.txt")};
            phylocanvas = new Smits.PhyloCanvas(
                dataObject,
                'svgCanvas',
                1000, 1000,
                    'rectangular'
            );
    };
    </script>

{% endblock extra_js %}